Solo-Traveler-App/Solo-Traveler-App/SoloTravelerApp/Connected Services/Weather_NearestStore_ServiceRef/OmniWSDLServiceRef.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OmniWSDLServiceRef" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar17.fulton.asu.edu/Page2/OmniWSDLServiceRef.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar17.fulton.asu.edu/Page2/OmniWSDLServiceRef.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OmniWSDLServiceInterface_GetCrimeData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCrimeData" />
  </wsdl:message>
  <wsdl:message name="OmniWSDLServiceInterface_GetCrimeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCrimeDataResponse" />
  </wsdl:message>
  <wsdl:message name="OmniWSDLServiceInterface_FindNearestStore_InputMessage">
    <wsdl:part name="parameters" element="tns:FindNearestStore" />
  </wsdl:message>
  <wsdl:message name="OmniWSDLServiceInterface_FindNearestStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindNearestStoreResponse" />
  </wsdl:message>
  <wsdl:message name="OmniWSDLServiceInterface_GetFutureWeatherData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFutureWeatherData" />
  </wsdl:message>
  <wsdl:message name="OmniWSDLServiceInterface_GetFutureWeatherData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFutureWeatherDataResponse" />
  </wsdl:message>
  <wsdl:portType name="OmniWSDLServiceInterface">
    <wsdl:operation name="GetCrimeData">
      <wsdl:input wsaw:Action="http://tempuri.org/OmniWSDLServiceInterface/GetCrimeData" message="tns:OmniWSDLServiceInterface_GetCrimeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/OmniWSDLServiceInterface/GetCrimeDataResponse" message="tns:OmniWSDLServiceInterface_GetCrimeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindNearestStore">
      <wsdl:input wsaw:Action="http://tempuri.org/OmniWSDLServiceInterface/FindNearestStore" message="tns:OmniWSDLServiceInterface_FindNearestStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/OmniWSDLServiceInterface/FindNearestStoreResponse" message="tns:OmniWSDLServiceInterface_FindNearestStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFutureWeatherData">
      <wsdl:input wsaw:Action="http://tempuri.org/OmniWSDLServiceInterface/GetFutureWeatherData" message="tns:OmniWSDLServiceInterface_GetFutureWeatherData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/OmniWSDLServiceInterface/GetFutureWeatherDataResponse" message="tns:OmniWSDLServiceInterface_GetFutureWeatherData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_OmniWSDLServiceInterface" type="tns:OmniWSDLServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCrimeData">
      <soap:operation soapAction="http://tempuri.org/OmniWSDLServiceInterface/GetCrimeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindNearestStore">
      <soap:operation soapAction="http://tempuri.org/OmniWSDLServiceInterface/FindNearestStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFutureWeatherData">
      <soap:operation soapAction="http://tempuri.org/OmniWSDLServiceInterface/GetFutureWeatherData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OmniWSDLServiceRef">
    <wsdl:port name="BasicHttpBinding_OmniWSDLServiceInterface" binding="tns:BasicHttpBinding_OmniWSDLServiceInterface">
      <soap:address location="http://webstrar17.fulton.asu.edu/Page2/OmniWSDLServiceRef.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>